*{
    margin: 0;
    padding: 0;
}

.navbar{
width: 100%;
}

.mx-5 {
    margin-right: 6rem !important;
    margin-left: 6rem !important;
}

body{
    background-image: url(blue-wall-empty-room-with-concrete-floor.jpeg);
    background-size: cover;
    color: #ffffff;
    font-size: 1.3vw;
    height: 100vh;

}
.table-responsive{
    max-height: 200px;
}


.form-control{
    border: 1px solid;
}

#addBook{
    margin-left: 215px;
}


.alert{
    position: absolute;
    height: 10vw;
    width: 60vw;
    margin-top: 250px;
    left: 20%;
    font-size: 3vw ;
    display: flex;
    justify-content: center;
    align-items: center;
}



.table > :not(caption) > * > * {
    padding: 0.5rem 5.5rem;}

    @media screen and ( max-width:600px) {
        .table > :not(caption) > * > * {
            padding: 0.5rem 1rem;}

     body{
         font-size: medium;
     }

    .bookTable{
        overflow: scroll;
    }
    }

    .btn-close {
        padding: 0.25em 1.25em;
        background-color: white;
    }

    .bookTable{
       width: 100%;
    }

    
    .search{
        width: 300px;
    }
