*{
    margin: 0;
    padding: 0;
}

.navbar{
width: 100%;
}

.mx-5 {
    margin-right: 6rem !important;
    margin-left: 6rem !important;
}

body{

    background-color: #c0c0c0;
}

.form-control{
    border: 1px solid;
}

#addBook{
    margin-left: 215px;
    margin-top: 50px;
}

#alertSMS{
    position: absolute;
    width: 100vw;
    /* text-align: center; */
    height: 2vw;

}
.alert{
    height: 4vw;
}



.table > :not(caption) > * > * {
    padding: 0.5rem 5.5rem;}

    @media screen and ( max-width:600px) {
        .table > :not(caption) > * > * {
            padding: 0.5rem 1rem;}

     body{
         font-size: medium;
     }

    .bookTable{
        overflow: scroll;
    }
    }

    .btn-close {
        padding: 0.25em 1.25em;
        background-color: white;
    }

    .bookTable{
       width: 100%;
    }

    
    .search{
        width: 300px;
    }

    
